<head><style type="text/css">
     /* body{
            background: url(/assets/bg2.jpg) no-repeat
            center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
          }*/
      .bg-container{
          background-color : #ffffff90;
          padding : 30px;
          border-radius: 25px;
          width: 500px;

        }
      .bg{
        display : flex;
        flex-direction : column;
        justify-content : center;
        align-items : center;
        
        margin-top : 50px;


      }
      </style>
</head>
 <div class="bg"><div class="bg-container"> <h1 align="center">Homeindex</h1></div></div>
 

