<style type="text/css">
      .bod{
            background: url(/assets/bgc2.jpg) no-repeat
           center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            height: 100vh;
      }
  </style>
<div class="bod"><%= render @cart %></div>
