<style type="text/css">
      .bod1{
            background: url(/assets/cart.jpg) no-repeat
            center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
          }
</style>
<div class="bod1"><div class="bg"><div class="bg-container">
<h4 align="center">Thank you for shopping with us!<br /><br>
	
your order has been processed.<br /><br>

A detailed email has been sent.<br /><br></h4>

<a href="/gallery/index" class="btn btn-primary btn-block">Click here to continue the shopping</a>
</div></div></div>